<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>註冊</h1>
        <form [formGroup]="signupForm" (ngSubmit)="signup()">
          <div class="form-group">
            <label for="email">信箱:</label>
            <input type="email" class="form-control" id="email" formControlName="email" required> 
          </div>
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            <div *ngIf="email.errors.required">
              email is required.
            </div>
            <div *ngIf="email.errors.email">
              email must be email.
            </div>
          </div>
          <div class="form-group">
            <label for="name">姓名:</label>
            <input type="text" class="form-control" id="name" formControlName="name" required>
          </div>
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors.required">
                name is required.
            </div>
          </div>
          <div class="form-group">
            <label for="pwd">密碼:</label>
            <input type="password" class="form-control" id="pwd" formControlName="pwd" minlength="4" maxlength="32" required>
            <small id="pwdHelp" class="form-text text-muted">密碼長度不得低於6位數，最大不得超過32位數</small>
          </div>
          <div *ngIf="pwd.invalid && (pwd.dirty || pwd.touched)" class="alert alert-danger">
            <div *ngIf="pwd.errors.required">
              password is required.
            </div>
            <div *ngIf="pwd.errors.minlength">
              password must be at least 6 characters long.
            </div>
            <div *ngIf="pwd.errors.maxlength">
              password must be at most 32 characters long.
            </div>
          </div>
          <button type="submit" class="btn btn-outline-dark btn-block">註冊</button>
          <button routerLink="/" class="btn btn-outline-info btn-block">返回</button>
        </form>
      </div>
    </div>
  </div>